/* fix for projects hover effect*/

.project-pic-wrap .project-hover {
    bottom: -500px;
    right: 1px;
    width: 181px;
    height: 127px;
}

.project-pic-wrap:hover .project-hover {
    bottom: 0;
}
/*end  fix for projects hover effect*/

.contacts-form-input {
    padding-top: 12px;
}

.login-form-input {
    padding-top: 20px;
}

.send-file {
	height: 37px;
}