* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

address {
	font-style: normal;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: url("../img/bg.jpg") repeat;
	font-size: 15px;
	line-height: 120%;
	font-family: 'fira_sansbook';
	color: #4a545d;
}

/* footer to bottom*/

.wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
}

.wrapper:after {
	content: "";
	display: block;
	height: 81px;
}

.page-footer {
	height: 81px;
	margin-top: -81px;
}

/************************************/

/*header*/

.page-header {
	height: 119px;
	background: #eff3f7 url("../img/line.jpg") bottom center no-repeat;
	margin-bottom: 39px;
	position: relative; /*добавил в вебинаре*/
}

.header-wrap {
	max-width: 1200px;
	min-width: 960px; /*добавил -min и -max*/
	margin: 0 auto;
	position: relative;
}

/*logo*/
.logo-link {
	position: absolute;
	top: 39px;
	left: 0;
}

/*social*/
.social {
	position: absolute;
	top: 35px;
	right: 0;
	list-style: none;
	min-width: 257px;
}

.social .social-item {
	display: inline-block;
	text-indent: -9999px;
	height: 47px;
	width: 47px;
	margin-left: 19px;
}

.social .social-item:first-child{
	margin-left: 0;
}

.social .social-item-link {
	display: block;
	width: 100%;
	height: 100%;
}

.social-item-link.vk {background: url("../img/vk.png");}
.social-item-link.tw {background: url("../img/tw.png");}
.social-item-link.fb {background: url("../img/fb.png");}
.social-item-link.gh {background: url("../img/gh.png");}


.social-item-link:hover {
	background-position: bottom;
}

/*end header*/


/*main part*/
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/*sidebar*/
.sidebar {
	float: left;
	width: 250px;
}

/*common for nav and contacts ;*/
.nav, 
.contacts {
	width: 100%;
	background: #eff3f7;
	overflow: hidden;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 23px;
}

.nav .nav-list,
.contacts .contacts-list {
	list-style: none;
}

/*navigation*/
.nav-list .nav-list-item {
	height: 73px;
}

.nav-list-item .nav-list-link {
	display: block;
	font-size: 21px;
	text-decoration: none;
	color: #959aa8;
	padding: 29px 20px 25px 28px;
}

.nav-list-item .nav-list-link:hover {
	color: #3ba8c0;
}

.nav-list .nav-list-item.active {
	background: #3ba8c0;
}

.nav-list-item.active .nav-list-link {
	padding-top: 30px;
	padding-bottom: 24px;
}

.nav-list .nav-list-item.active .nav-list-link {
	font-size: 23px;
	color: #fff;
}

.nav-list .nav-list-item:before {
	display: block;
	content: "";
	margin: 5px;
	height: 2px;
	width: 230px;
	margin: 0 auto;
	background: #3ba8c0;
}

.nav-list .nav-list-item:first-child:before,
.nav-list .nav-list-item.active:before,
.nav-list .nav-list-item.active + .nav-list-item:before {
	display: none;
}

/*contacts*/
.contacts .contacts-header {
	height: 40px;
	padding-top: 15px;
	padding-left: 20px;
	background: #3ba8c0;
	font-size: 21px;
	color: #fff;
}

.contacts-list .contacts-list-item {
	height: 39px;
	padding: 11px 0 0 60px;
}

.contacts-list .contacts-list-item.mail {
	background: #41b9d4 url("../img/mail.png") 28px 11px no-repeat;
}

.contacts-list .contacts-list-item.phone {
	background: #48cbe8 url("../img/phone.png") 28px 7px no-repeat;
}

.contacts-list .contacts-list-item.skype {
	background: #51daf8 url("../img/skype.png") 28px 8px no-repeat;
	height: 37px;
}

.contacts-list-item .contacts-list-link {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}

.contacts-list-item .contacts-list-link:hover {
	border-bottom: 1px solid #fff;
	display: inline-block;
}

/*end sidebar */


/*main content*/
.main-content {
	float: right;
	width: 650px;
}

.box {
	background: #eff3f7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webit-border-radius: 4px;
	overflow: hidden;
	margin-bottom: 24px;
}

.box-body{
	padding-left: 56px;
	padding-bottom: 23px;
}

.box-header {
	display: inline-block;
	border-bottom: 2px solid #3ba8c0;
	padding: 25px 24px 24px 22px;
	margin-bottom: 26px;
	font-size: 27px;
	color: #3ba8c0;
}

/*end main part*/


/*footer*/

.page-footer {
	height: 81px;
	background: #eff3f7 url("../img/line.jpg") top center no-repeat;
}

.page-footer .login {
	position: absolute;
	top: 26px;
	left: 33px;
	width: 20px;
	height: 32px;
}

.login .login-link {
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;	
	background: url("../img/login.png") top no-repeat;
}

.login .login-link:hover {
	background: url("../img/login.png") bottom no-repeat;
}

.page-footer .copyright {
	margin-top: 33px;
	font-family: "fira_sansultralight";
	font-size: 13px;
	text-align: center;
}
/************************************/
/*clearfix*/
.container:before, .clearfix:before,
.container:after, .clearfix:after {
    content: "";
    display: table;
}
.container:after, .clearfix:after {
    clear: both;
}